<section>
    <app-header></app-header>
    
<div style="background-color:rgb(245, 243, 240)">
    <div style="background-color:rgb(245, 243, 240)">
    <div class="container" >
        <div class="row justify-content-center">
            <div class="col-12" style="margin-top:20px; background-color: white;">
                <h3 style="display: inline;"><i-feather name="cpu" class="mr-2 text-primary"></i-feather>Devices</h3>
                <button style="float: right; margin-top:10px;" (click)="openNewForm()" class="btn btn-primary" data-bs-toggle="modal" (click)="addDataModal= true" data-bs-target="#add-device">ADD <i-feather name="plus"></i-feather></button>
                <br><br>
                <p>Admin can view, add, edit, activate/deactivate or release a device.</p>
            </div>
        </div>
    </div>
    <br><br>

 
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-hover">
                    <thead class="table-secondary">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Device ID</th>
                            <th scope="col">Type</th>
                            <th scope="col">Assigned To</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">

                        <ng-container *ngFor="let row of tableData; let i = index">
                            <tr>
                                <td>{{row.brand}}</td>
                                <td>{{row.device}}</td>
                                <td>{{row.type}}</td>
                                <td>{{row.name}}</td>
                                <td>Available</td>
                                <td>
                                    <i class="fa fa-eye action text-primary" data-toggle="modal" data-target="#myModal" aria-hidden="true" (click)="showDetails(i)"></i>&nbsp;&nbsp;
                                    <i class="fa fa-plus-circle action text-primary" aria-hidden="true"></i>&nbsp;&nbsp;
                                    <i class="fa fa-pencil-square-o action text-warning" aria-hidden="true" (click)="editModel(i)"></i>&nbsp;&nbsp;
                                    <i class="fa fa-times-circle action text-danger" aria-hidden="true" (click)="cutAssigned(i)"></i>&nbsp;&nbsp;
                                    <i class="fa fa-trash action" aria-hidden="true" (click)="deleteRow(i)"></i>&nbsp;&nbsp;
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

   </div>
</div>

    
    <!-- Modal -->
    <div class="model" id="add-new-data">
        <div class="model-content">
            <div class="full">
                <div class="close" style="float: left;" (click)="close()">x</div>
                <div class="form">
                    <div>
                        <h2 style="font-size: 20px; font-weight: bold;">New Device</h2>
                
                        <form [formGroup]="deviceData" (ngSubmit)="onSubmit()">
                            <label for="brand">Brand</label>
                            <input type="text" class="form-control" placeholder="Enter brand" formControlName="brand" id="brand" #brand>

                            <label for="name">Name</label> `
                            <input type="text" class="form-control" placeholder="Enter name" formControlName="name" id="name" #name>

                            <label for="device-id">Device ID</label>
                            <input type="text" class="form-control" placeholder="Enter device id" formControlName="device" #device>

                            <p>Device type</p>
                            <div class="checkbox">
                                <div class="check1">
                                    <label>
                                  <input (click)="changeShow()" #check1 type="radio" formControlName="type" id="device-type" value="computer">
                            computer</label>
                                </div>

                                <div class="check2">
                                    <label>
                            <input (click)="changeShow()" #check1 type="radio" formControlName="type" id="device-type" value="mobile">
                            mobile</label>
                                </div>
                                <div class="check3">
                                    <label>
                            <input (click)="changeShow()" #check1 type="radio" formControlName="type" id="device-type" value="peripheral">
                                peripheral</label>
                                </div>
                            </div>
                            <br>
                            <div *ngIf="show">
                                <label for="OS">OS</label>
                                <input type="text"  #os class="form-control" placeholder="Enter OS" formControlName="OS" id="OS">

                                <label for="ram">Ram</label> `
                                <input type="text" #ram class="form-control" placeholder="Enter Ram" formControlName="ram" id="ram">

                                <label for="memory">Memory</label>
                                <input type="text" #memory class="form-control" placeholder="Enter Memory" formControlName="memory" id="memory">

                                <label for="imei">IMEI Number</label>
                                <input type="text" #imei class="form-control" placeholder="Enter IMEI Number" formControlName="imei" id="imei">

                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="saveData(deviceData.value)">Add</button>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="edit-model" id="edit-data">
        <div class="edit-model-content">
            <div class="full">
                <div class="close" style="float: left;" (click)="closeEdit()">x</div>
                <div class="form">
                    <div>
                        <h2 style="font-size: 20px; font-weight: bold;">Edit Device</h2>
                        <br><br>
                        <form [formGroup]="deviceData" (ngSubmit)="onSubmit()">
                            <label for="brand">Brand</label>
                            <input type="text" class="form-control" placeholder="Enter brand" formControlName="brand" id="brand">

                            <label for="name">Name</label> `
                            <input type="text" class="form-control" placeholder="Enter name" formControlName="name" id="name">

                            <label for="device-id">Device ID</label>
                            <input type="text" class="form-control" placeholder="Enter device id" formControlName="device">

                            <p>Device type</p>
                            <div class="checkbox">
                                <div class="check1">
                                    <label>
                            <input #check1 type="radio" id="device-type" formControlName="type" value="computer">
                            computer</label>
                                </div>

                                <div class="check2">
                                    <label>
                            <input #check1 type="radio" id="device-type" formControlName="type" value="mobile">
                            mobile</label>
                                </div>
                                <div class="check3">
                                    <label>
                            <input #check1 type="radio" id="device-type" formControlName="type" value="peripheral">
                            peripheral</label>
                                </div>
                            </div>
                            <br>
                            <div>
                                <label for="OS">OS</label>
                                <input type="text" #os class="form-control" placeholder="Enter OS" formControlName="OS" id="OS">

                                <label for="ram">Ram</label> `
                                <input type="text" #ram class="form-control" placeholder="Enter Ram" formControlName="ram" id="ram">

                                <label for="memory">Memory</label>
                                <input type="text" #memory placeholder="Enter Memory" formControlName="memory" id="memory">

                                <label for="imei">IMEI Number</label>
                                <input type="text" #imei class="form-control" placeholder="Enter IMEI Number" formControlName="imei" id="imei">

                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Edit</button>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <!-- new modal -->
 
 
  
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        
      <!-- Modal content-->
      <div class="modal-content" style="padding: 25px;">
        
        <div class="container">
            
            <!-- <button class="close float-right" (click)="closeEdit()">x</button> -->
         
            <!-- <button type="button" class="close float-right" data-dismiss="modal">&times;</button> -->
            <ng-container *ngFor="let rowd of showData; let i = index">
                <h4 class="modal-title">{{rowd.brand}}</h4>
                <p>{{rowd.type}}</p>
            </ng-container>
          
        
        </div>
        <div class="modal-body">
          <table class="table table-borderless">
            <thead>
              <tr>
                
                <th scope="col">Device Id</th>
                <th scope="col">Operating System</th>
                <th scope="col">CPU</th>
              </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let rowd of showData; let i = index">
              <tr>
                <td>{{rowd.device}}</td>
                <td>{{rowd.OS}}</td>
                <td>{{rowd.memory}}</td>
                
              </tr>
              </ng-container>
            </tbody>
            <thead>
                <tr>
                  
                  <th scope="col">GPU</th>
                  <th scope="col">RAM</th>
                  <th scope="col">Storage</th>
                </tr>
              </thead>
        
              <tbody>
                <ng-container *ngFor="let rowd of showData; let i = index">
                <tr>
                  <td>{{rowd.imei}}</td>
                  <td>{{rowd.ram}}</td>
                  <td>{{rowd.memory}}</td>
                  
                </tr>
                </ng-container>
              </tbody>
          </table>
        </div>
        <div>
            <button type="button" class="btn btn-primary float-right" data-dismiss="modal">Close</button>
        </div>  
    </div>
  
    </div>
  </div>


</section>



<!-- <section>
    <header>
        <img class="logo" src="../../../assets/DEVICEMANAGER.svg" alt="DEVICEMANAGER">
        <div class="buttons">
            <button class="users">Users</button>
            <button class="devices">Devices</button>
        </div>
        <div class="userinfo">
            <p class="username">Rishab Chakraborty</p>
            <button class="logout">Logout</button>
        </div>
    </header>
    <div class="box">
        <div class="info">
            <div class="top">
                <h2>Devices</h2>
                <button class="add-device" (click)="openNewForm()">Add +</button>
            </div>
            <p>Admin can view, add, edit, activate/deactivate or release a device.</p>
        </div>
        <br><br>
        <div class="device-table">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Device ID</th>
                        <th scope="col">Type</th>
                        <th scope="col">Assigned To</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>

                    <ng-container *ngFor="let row of tableData; let i = index">
                        <tr>
                            <th>{{row.name}}</th>
                            <td>{{row.device}}</td>
                            <td>{{row.type}}</td>
                            <td>{{row.assignedTo}}</td>
                            <td>Available</td>
                            <td>
                                <i class="fa fa-eye action" aria-hidden="true" (click)="showDetails(i)"></i>&nbsp;&nbsp;
                                <i class="fa fa-plus-circle action" aria-hidden="true"></i>&nbsp;&nbsp;
                                <i class="fa fa-pencil-square-o action" aria-hidden="true" (click)='editModel(i)'></i>&nbsp;&nbsp;
                                <i class="fa fa-times-circle action" aria-hidden="true" (click)="cutAssigned(i)"></i>&nbsp;&nbsp;
                                <i class="fa fa-trash action" aria-hidden="true" (click)="deleteRow(i)"></i>&nbsp;&nbsp;
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <br><br>
    </div>
    <div class="model" id="add-new-data">
        <div class="model-content">
            <div class="full">
                <div class="close" style="float: left;" (click)="close()">x</div>
                <div class="form">
                    <div>
                        <h1>New Device</h1>
                        <br><br>
                        <form #deviceData="ngForm">
                            <label for="brand">Brand</label>
                            <input type="text" placeholder="Enter brand" formControlName="brand" id="brand" ngModel required>

                            <label for="name">Name</label> `
                            <input type="text" placeholder="Enter name" name="name" id="name" ngModel required>

                            <label for="device-id">Device ID</label>
                            <input type="text" placeholder="Enter device id" name="device" ngModel required>

                            <p>Device type</p>
                            <div class="checkbox">
                                <div class="check1">
                                    <label>
                            <input (click)="changeShow()" #check1 type="radio" name="type" id="device-type" value="computer" ngModel>
                            computer</label>
                                </div>

                                <div class="check2">
                                    <label>
                            <input (click)="changeShow()" #check1 type="radio" name="type" id="device-type" value="mobile" ngModel>
                            mobile</label>
                                </div>
                                <div class="check3">
                                    <label>
                            <input (click)="changeShow()" #check1 type="radio" name="type" id="device-type" value="peripheral" ngModel>
                            peripheral</label>
                                </div>
                            </div>
                            <br>
                            <div *ngIf="show">
                                <label for="OS">OS</label>
                                <input #os type="text" ngModel placeholder="Enter OS" name="OS" id="OS">

                                <label for="ram">Ram</label> `
                                <input #ram type="text" placeholder="Enter Ram" ngModel name="ram" id="ram">

                                <label for="memory">Memory</label>
                                <input #memory type="text" placeholder="Enter Memory" ngModel name="memory" id="memory">

                                <label for="imei">IMEI Number</label>
                                <input #imei type="text" placeholder="Enter IMEI Number" ngModel name="imei" id="imei">

                            </div>
                            <button type="submit" class="registerbtn" (click)="saveData(deviceData.value)">Register</button>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="edit-model" id="edit-data">
        <div class="edit-model-content">
            <div class="full">
                <div class="close" style="float: left;" (click)="closeEdit()">x</div>
                <div class="form">
                    <div>
                        <h1>Edit Device</h1>
                        <br><br>
                        <form #editDeviceData="ngForm">
                            <label for="brand">Brand</label>
                            <input type="text" placeholder="Enter brand" name="brand" id="brand" ngModel value=tableData required>

                            <label for="name">Name</label> `
                            <input type="text" placeholder="Enter name" name="name" id="name" ngModel required>

                            <label for="device-id">Device ID</label>
                            <input type="text" placeholder="Enter device id" name="device" ngModel required>

                            <p>Device type</p>
                            <div class="checkbox">
                                <div class="check1">
                                    <label>
                            <input (click)="changeShow()" #check1 type="radio" name="type" id="device-type" value="computer" ngModel>
                            computer</label>
                                </div>

                                <div class="check2">
                                    <label>
                            <input (click)="changeShow()" #check1 type="radio" name="type" id="device-type" value="mobile" ngModel>
                            mobile</label>
                                </div>
                                <div class="check3">
                                    <label>
                            <input (click)="changeShow()" #check1 type="radio" name="type" id="device-type" value="peripheral" ngModel>
                            peripheral</label>
                                </div>
                            </div>
                            <br>
                            <div *ngIf="show">
                                <label for="OS">OS</label>
                                <input #os type="text" ngModel placeholder="Enter OS" name="OS" id="OS">

                                <label for="ram">Ram</label> `
                                <input #ram type="text" placeholder="Enter Ram" ngModel name="ram" id="ram">

                                <label for="memory">Memory</label>
                                <input #memory type="text" placeholder="Enter Memory" ngModel name="memory" id="memory">

                                <label for="imei">IMEI Number</label>
                                <input #imei type="text" placeholder="Enter IMEI Number" ngModel name="imei" id="imei">

                            </div>
                            <button type="submit" class="registerbtn" (click)="editData(deviceData.value)">Edit</button>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->