
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
    #background{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    overflow-x: hidden;
}

#cover{
    height: 45vw;
    width: 50%;
    background-color: #f7f8fc;
    background-image: url(../../assets/BG.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
.container {
    padding: 250px;
    margin: auto;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 300px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: block;
    outline: none;
    outline-style: none;
    border-top:solid #eeeeee 1px ;
    border-left: solid #eeeeee 1px;
    border-right: solid #eeeeee 1px;
    border-bottom: solid #eeeeee 1px;
    background: transparent;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit/register button */
  .registerbtn {
    background-color: #6fa9d8;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity:1;
    outline: none;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
    float: right;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }
/* Add padding to containers */
input.ng-touched.ng-invalid{
  border: 1px solid red;
  box-shadow: 0 0 13px inset rgba(255,0,0,0.2);
}