<section>
    <app-header></app-header>
    <div style="background-color:rgb(245, 243, 240)">
        <div class="container" >
            <div class="row justify-content-center">
                <div class="col-12" style="margin-top:20px; background-color: white;">
                    <h3 style="display: inline;"><i-feather name="cpu" class="mr-2 text-primary"></i-feather>Devices</h3>
                    <button style="float: right; margin-top:10px;" (click)="openNewForm()" class="btn btn-primary" data-bs-toggle="modal" (click)="addDataModal= true" data-bs-target="#add-device">ADD <i-feather name="plus"></i-feather></button>
                    <br><br>
                    <p>Admin can view, add, edit, activate/deactivate or release a device.</p>
                </div>
            </div>
        </div>
        <br><br>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <table class="table table-hover">
                        <thead class="table-secondary">
                            <tr>
                                <th scope="col">Device Id</th>
                                <th scope="col">Brand</th>
                                <th scope="col">Name</th>
                                <th scope="col">Os</th>
                                <!-- <th scope="col">Ram</th>
                                <th scope="col">Memory</th>
                                <th scope="col">IMEI No</th> -->
                                <th scope="col">Status</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white">
    
                            <ng-container *ngFor="let row of tableData; let i = index">
                                <tr>
                                    <td>{{row.device}}</td>
                                    <td>{{row.brand}}</td> 
                                    <td>{{row.name}}</td>
                                    <td>{{row.os}}</td>
                                    <!-- <td>{{row.ram}}</td>
                                    <td>{{row.memory}}</td>
                                    <td>{{row.imeiNo}}</td> -->
                                    <td>{{row.status}}</td>
                                    <td>
                                        <i class="fa fa-eye action text-primary" data-toggle="modal" rel="tooltip" title="Details" data-target="#myModal" aria-hidden="true" (click)="showDetails(i)"></i>&nbsp;&nbsp;
                                        <i class="fa fa-plus-circle action text-primary" rel="tooltip" title="Assign Device" aria-hidden="true" data-toggle="modal" data-target="#myModal1" (click)="showAssignable(i)"></i>&nbsp;&nbsp;
                                        <!-- <i class="fa fa-times-circle action text-danger" *ngIf="isValid[i];else other" rel="tooltip" title="Not Assigned" aria-hidden="true"  (click)="setActive(i)"></i>&nbsp;&nbsp;
                                            <ng-template #other>
                                                <i class="fa fa-check text-success" rel="tooltip" title="Assigned" aria-hidden="true" (click)="setInactive(i)"></i>&nbsp;&nbsp;
                                            </ng-template> -->
                                        <i class="fa fa-pencil-square-o action text-warning" aria-hidden="true" rel="tooltip" title="Edit" (click)="editModel(i)"></i>&nbsp;&nbsp;
                                              
            
                                        <i class="fa fa-trash action" aria-hidden="true" rel="tooltip" title="Delete" (click)="deleteRow(i)"></i>&nbsp;&nbsp;
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
       
    </div> 
    
    <!-- Modal -->
    <div class="model" id="add-new-data">
        <div class="model-content">
            <div class="full">
                <div class="close" style="float: left;" (click)="close()">x</div>
                <div class="form">
                    <div>
                        <h2 style="font-size: 20px; font-weight: bold;">New Device</h2>
                
                        <form [formGroup]="deviceData" (ngSubmit)="onSubmit(deviceData)">
                            <label for="brand">Device Id</label>
                            <input type="number" class="form-control" placeholder="Enter device id" formControlName="device" id="device">

                            <label for="brand">Brand</label>
                            <input type="text" class="form-control" placeholder="Enter brand" formControlName="brand" id="brand">

                            <label for="name">Name</label> `
                            <input type="text" class="form-control" placeholder="Enter name" formControlName="name" id="name">

                            

                            <p>Device type</p>
                            <div class="checkbox">
                                <div class="check1">
                                    <label>
                                  <input (click)="changeShow()"  type="radio" formControlName="type" id="device-type" value="Computer">
                            computer</label>
                                </div>

                                <div class="check2">
                                    <label>
                            <input (click)="changeShow()" type="radio"  formControlName="type" id="device-type" value="Mobile">
                            mobile</label>
                                </div>
                                <div class="check3">
                                    <label>
                            <input (click)="changeShow()" type="radio" formControlName="type" id="device-type" value="Peripheral">
                                peripheral</label>
                                </div>
                            </div>
                            <br>
                            <div *ngIf="show">
                                <label for="OS">OS</label>
                                <input type="text" class="form-control" placeholder="Enter OS" formControlName="os" id="OS">

                                <label for="ram">Ram</label> `
                                <input type="text" class="form-control" placeholder="Enter Ram" formControlName="ram" id="ram">

                                <label for="memory">Memory</label>
                                <input type="text" class="form-control" placeholder="Enter Memory" formControlName="memory" id="memory">

                                <label for="imei">IMEI Number</label>
                                <input type="text" class="form-control" placeholder="Enter IMEI Number" formControlName="imeiNo" id="imei">

                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]='deviceData.invalid'>Add</button>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- edit modal -->
    <div class="edit-model" id="edit-data">
        <div class="edit-model-content">
            <div class="full">
                <div class="close" style="float: left;" (click)="closeEdit()">x</div>
                <div class="form">
                    <div>
                        <h2 style="font-size: 20px; font-weight: bold;">Edit Device</h2>
                        <br><br>
                        <form [formGroup]="deviceData" (ngSubmit)="onSubmit(deviceData)">

                            <label for="device-id">Device ID</label>
                            <input type="number" class="form-control" placeholder="Enter device id" formControlName="device">

                            <label for="brand">Brand</label>
                            <input type="text" class="form-control" placeholder="Enter brand" formControlName="brand" id="brand">

                            <label for="name">Name</label> `
                            <input type="text" class="form-control" placeholder="Enter name" formControlName="name" id="name">

                            

                            <p>Device type</p>
                            <div class="checkbox">
                                <div class="check1">
                                    <label>
                            <input type="radio" id="device-computer"   formControlName="type" value="Computer">
                            computer</label>
                                </div>

                                <div class="check2">
                                    <label>
                            <input type="radio" id="device-mobile" formControlName="type" value="Mobile">
                            mobile</label>
                                </div>
                                <div class="check3">
                                    <label>
                            <input type="radio" id="device-peripheral" formControlName="type"  value="Peripheral">
                            peripheral</label>
                                </div>
                            </div>
                            <br>
                            <div>
                                <label for="OS">OS</label>
                                <input type="text" class="form-control" placeholder="Enter OS" formControlName="os" id="OS">

                                <label for="ram">Ram</label> `
                                <input type="text" class="form-control" placeholder="Enter Ram" formControlName="ram" id="ram">

                                <label for="memory">Memory</label>
                                <input type="text" placeholder="Enter Memory" formControlName="memory" id="memory">

                                <label for="imei">IMEI Number</label>
                                <input type="text" class="form-control" placeholder="Enter IMEI Number" formControlName="imeiNo" id="imeiNo">

                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Edit</button>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- show details modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            
          <!-- Modal content-->
          <div class="modal-content" style="padding: 25px;">
            
            <div class="container">
                
                
                <ng-container *ngFor="let rowd of showData; let i = index">
                    <h4 class="modal-title">{{rowd.brand}}</h4>
                    <p>{{rowd.type}}</p>
                </ng-container>
              
            
            </div>
            <div class="modal-body">
              <table class="table table-borderless">
                <thead>
                  <tr>
                    
                    <th scope="col">Device Name</th>
                    <th scope="col">Operating System</th>
                    <th scope="col">CPU</th>
                  </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let rowd of showData; let i = index">
                  <tr>
                    <td>{{rowd.name}}</td>
                    <td>{{rowd.os}}</td>
                    <td>{{rowd.memory}}</td>
                    
                  </tr>
                  </ng-container>
                </tbody>
                <thead>
                    <tr>
                      
                      <th scope="col">IMEI Number</th>
                      <th scope="col">RAM</th>
                      <th scope="col">Storage</th>
                    </tr>
                  </thead>
            
                  <tbody>
                    <ng-container *ngFor="let rowd of showData; let i = index">
                    <tr>
                      <td>{{rowd.imeiNo}}</td>
                      <td>{{rowd.ram}}</td>
                      <td>{{rowd.memory}}</td>
                      
                    </tr>
                    </ng-container>
                  </tbody>
              </table>
            </div>
            <div>
                <button type="button" class="btn btn-primary float-right" data-dismiss="modal">Close</button>
            </div>  
        </div>
      
        </div>
      </div>
      <!-- assign device modal -->
      <ng-container *ngIf="isAssignable">
        <div id="myModal1" class="modal fade" role="dialog">
            <div class="modal-dialog">
                
              <!-- Modal content-->
              <div class="modal-content" style="padding: 25px;">
                <div class="modal-body">
                    <form [formGroup]="assignDeviceForm">
                        <label for="psw">Employee Id *</label>
                        <input type="number" class="form-control" placeholder="Enter employee Id" formControlName="empId">
    
                        <label for="pswrpt">Device Id *</label>
                        <input type="number" class="form-control" placeholder="Enter device Id" formControlName="deviceId"
                           >
    
    
                       
                        <br>
                    </form>
                </div>
                <div>
                    <button type="button" class="btn btn-primary float-right" data-dismiss="modal" [disabled]="assignDeviceForm.invalid" (click)="assignDevice()">Assign</button>
                    <button type="button" class="btn btn-primary float-right mr-2" data-dismiss="modal">Close</button>
                </div>  
            </div>
          
            </div>
          </div>
      </ng-container>
     
    <!-- Assign devices modal -->

</section>
