<app-header>

</app-header>
<div style="background-color:rgb(245, 243, 240)">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12" style="margin-top:20px; background-color: white;">
                <h3 style="display: inline;">
                    <i-feather name="user" class="mr-2 text-primary"></i-feather>Users</h3>
                <button style="float: right; margin-top:10px;" (click)="openNewForm()" class="btn btn-primary" data-bs-toggle="modal" (click)="addDataModal= true" data-bs-target="#add-device">ADD <i-feather name="plus"></i-feather></button>
                <br><br>
                <p>Admin can add, edit, activate or deactivate an user.</p>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-hover">
                    <thead class="table-secondary">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Employee ID</th>
                            <th scope="col">Email</th>
                            <th scope="col">Devices</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">

                        <ng-container *ngFor="let row of tableData; let i = index">
                            <tr>
                                <td>{{row.fname+" "+row.lname}}</td>
                                <td>{{row.empid}}</td>
                                <td>{{row.email}}</td>
                                <td>{{row.devices}}</td>
                                <td>{{row.status}}</td>
                                <td>
                                    <i class="fa fa-eye action text-primary" data-toggle="modal" data-target="#exampleModal" aria-hidden="true" (click)="showDetails(i)"></i>&nbsp;&nbsp;

                                    <i class="fa fa-lock text-warning" aria-hidden="true" (click)="changePasswordModal(i)"></i>&nbsp;&nbsp;
                                    <i class="fa fa-pencil-square-o action text-primary" aria-hidden="true" (click)="editModel(i)"></i>&nbsp;&nbsp;
                                    <ng-template #other>
                                        <i class="fa fa-times-circle action text-danger" aria-hidden="true" (click)="setInactive(i)"></i>&nbsp;&nbsp;

                                    </ng-template>


                                    <i class="fa fa-check text-success" *ngIf="isValid[i];else other" aria-hidden="true" (click)="setActive(i)"></i>&nbsp;&nbsp;



                                    <i class="fa fa-trash action" aria-hidden="true" (click)="deleteRow(i)"></i>&nbsp;&nbsp;
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="model" id="add-new-data">
    <div class="model-content">
        <div class="full">
            <div class="close" style="float: left;" (click)="close()">x</div>
            <div class="form">
                <div>
                    <h2 style="font-size: 20px; font-weight: bold;">New User</h2>

                    <form [formGroup]="deviceData" (ngSubmit)="onSubmit()">
                        <label for="fname">First name</label>
                        <input type="text" class="form-control" placeholder="Enter first name" formControlName="fname" id="fname" #fname>

                        <label for="lname">Last Name</label> `
                        <input type="text" class="form-control" placeholder="Enter Last name" formControlName="lname" id="lname" #lname>

                        <label for="email">Email</label>
                        <input type="email" class="form-control" placeholder="Enter Email" formControlName="email" #email>

                        <label for="empid">Employee Id</label> `
                        <input type="text" class="form-control" placeholder="Enter Employee id" formControlName="empid" id="empid" #empid>


                        <label for="psw">Password</label>
                        <input type="password" class="form-control" placeholder="Enter Password" formControlName="psw" #psw>

                        <label for="pswrpt">Re-type Password</label>
                        <input type="password" class="form-control" placeholder="Enter Re-type password" formControlName="pswrpt" #pswrpt>


                        <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="saveData(fname.value,lname.value,email.value,empid.value)">Add</button>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


  

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="padding: 25px;">
            <div class="container">


                <ng-container *ngFor="let rowd of showData; let i = index">
                    <h4 class="modal-title">{{rowd.name}}</h4>
                    <p>{{rowd.empid}}</p>
                </ng-container>


            </div>
            <div class="modal-body">
                <table class="table table-borderless">
                    <thead>
                        <tr>

                            <th scope="col">Device name</th>
                            <th scope="col">Device id</th>
                            <th scope="col">Assigned on</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let rowd of showData; let i = index">
                            <tr>
                                <td>{{rowd.devicename}}</td>
                                <td>{{rowd.deviceid}}</td>
                                <td>{{rowd.assignedOn}}</td>

                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
            <div>
                <button type="button" class="btn btn-primary float-right" style="margin: 30px;" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>






<!-- edit modal -->

<div class="edit-model" id="edit-data">
    <div class="edit-model-content">
        <div class="full">
            <div class="close" style="float: left;" (click)="closeEdit()">x</div>
            <div class="form">
                <div>
                    <h2 style="font-size: 20px; font-weight: bold;">Edit User</h2>
                    <br><br>
                    <form [formGroup]="deviceData" (ngSubmit)="onSubmit()">
                        <label for="fname">First name</label>
                        <input type="text" class="form-control" placeholder="Enter first name" formControlName="fname" id="fname" #fname>

                        <label for="lname">Last Name</label> `
                        <input type="text" class="form-control" placeholder="Enter last name" formControlName="lname" id="name" #lname>

                        <label for="email">Email</label>
                        <input type="email" class="form-control" placeholder="Enter email" formControlName="email" #email>

                        <label for="empid">Employee Id</label> `
                        <input type="text" class="form-control" placeholder="Enter employee id" formControlName="empid" id="empid" #empid>


                        <button type="submit" class="btn btn-primary btn-lg btn-block">Edit</button>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- change password -->



<div class="change-password-model" id="change-password">
    <div class="change-model-content">
        <div class="full">
            <div class="close" style="float: left;" (click)="closeChangepPassword()">x</div>
            <div class="form-psw">
                <div>
                    <h2 style="font-size: 20px; font-weight: bold;">Change {{user}} Password</h2>

                    <form [formGroup]="deviceData" (ngSubmit)="onSubmit()">
                        <label for="psw">Password</label>
                        <input type="password" class="form-control" placeholder="Enter Password" formControlName="psw" #psw>

                        <label for="pswrpt">Re-type Password</label>
                        <input type="password" class="form-control" placeholder="Enter Re-type password" formControlName="pswrpt" #pswrpt>


                        <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="saveData(fname.value,lname.value,email.value,empid.value)">Add</button>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>