<section>
    <app-header></app-header>
    <form style="background-color:rgb(245, 243, 240)" [formGroup]="addmore" (ngSubmit)="submit()">
        <div class="container" >
            <div class="row justify-content-center">
                <div class="col-12" style="margin-top:20px; background-color: white;">
                    <h3 style="display: inline;"><i-feather name="cpu" class="mr-2 text-primary"></i-feather>Devices</h3>
                    <button style="float: right; margin-top:10px;" class="btn btn-primary" (click)="addNew()">ADD <i-feather name="plus"></i-feather></button>
                    <br><br>
                    <p>Admin can view, add, edit, activate/deactivate or release a device.</p>
                </div>
            </div>
        </div>
        <br><br>
        <div class="container">
            <div class="row">
                <div class="col-12" formArrayName="itemRows">
                    <table class="table table-hover">
                        <thead class="table-secondary">
                            <tr>
                                <th scope="col">S.No</th>
                                <th scope="col">Product Item</th>
                                <th scope="col">Product Price</th>
                                <!-- <th scope="col">Assigned To</th>
                                <th scope="col">Status</th> -->
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white">
    
                            
                                <tr *ngFor="let itemrow of addmore.controls.itemRows['controls']; let i = index" [formGroupName]="i">
                                    <td>{{i}}</td>
                                    <td>
                                        <input type="text" id="items{{i}}" formControlName="items" class="form-control">
                                        <!-- <label *ngIf="formArr.controls[i].get('items').errors?.required" class="text-danger">
                                            Item name is Required.
                                        </label> -->
                                    </td>

                                    <td><input id="prices{{i}}" formControlName="prices" class="form-control">
                                        <!-- <label *ngIf="formArr.controls[i].get('prices').errors?.required" class="text-danger">
                                            Price is Required.
                                          </label> -->
                                    </td>
                                    <td>
                                        <i class="fa fa-trash action" aria-hidden="true" rel="tooltip" title="Delete" (click)="deleteRow(i)"></i>&nbsp;&nbsp;
                                    </td>
                                    
                                </tr>
                            
                        </tbody>
                        <tfoot>
                            <td>
                                <button style="float: left; margin-top:10px;" type="submit" class="btn btn-primary">Submit</button> 
                            </td>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </form>
</section>
